.deck-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.card {
    border: 1px solid;
    width: 70px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.red {
    color: red;
    border-color: red;
}
.black {
    color: black;
    border-color: black;
}
.suit-icon {
    font-size: 20px;
}